<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration Email</h1>
    <p>Hello {{ .User.Name }} you have been registered to the event {{ .Event.Name }}</p>
    <p>Event Date: {{ .Event.Date }}</p>
    <p>Event Time: {{ .Event.Time }}</p>
    <p>Event Location: {{ .Event.Location }}</p>
    <p>Event Description: {{ .Event.Description }}</p>
    <p>Event Organizer: {{ .Event.Organizer }}</p>
    <p>Event Contact: {{ .Event.Contact }}</p>
    <img src="data:image/png;base64,{{ .QRCode }}" alt="Event QR Code">
</body>
</html>